<!DOCTYPE html>
<html>
<head>
    <title>lolcommits</title>
    <script>
        var request = new XMLHttpRequest();
        var lastImage;
        var lastFilename;

        var appendImage = function () {
            var response;
            var image;

            if (request.readyState !== 4 || request.status !== 200) {
                return;
            }

            response = JSON.parse(request.responseText);

            if (response.image !== lastFilename) {
                image = document.createElement('img');
                image.width = 640;
                image.height = 480;
                image.setAttribute('src', response.image);

                if (lastImage) {
                    document.body.insertBefore(image, lastImage);
                } else {
                    document.body.appendChild(image);
                }

                lastImage = image;
                lastFilename = response.image
            };
        };

        var getRecent = function () {
            request.open("GET", "/recent.json", true);
            request.onreadystatechange = appendImage;
            request.send();
        };

        setInterval(getRecent, 5000);
        getRecent();
    </script>
    <style>
        body {
            background: #000;
            margin: 0;
            padding: 0;
        }
        img {
            float: left;
            padding: 10px 0 0 10px;
        }
    </style>
</head>
<body></body>
</html>
